<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpLakes</h1>
            <p>We have hand-picked the best lakes to visit</p>
            <h4>Create a new lake</h4>
            <a href="/lakes/new">Add new Lake</a>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% lakes.forEach(function(lake){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=lake.image%>">
            </div>
            <div class="caption">
                <h4><%=lake.name%></h4>  
            </div>
            <p>
                <a href="/lakes/<%= lake._id %>" class="btn btn-primary">More Info</a>
            </p>
        </div>
        
        <% }) %>
    
    </div>
</div>
    




<% include partials/footer %>
