<% include partials/header %>


<div id="landing-header">
 	<h1>Welcome to YelpCamp!</h1>
	<a href="/lakes" class="btn btn-lg btn-success">View All Lakes</a>
</div>




<% include partials/footer %>

