<% include partials/header %>


<h1>THIS IS LANDING</h1>

<a href="/lakes">Click here to go to Lakes</a>

<form>
    <input type="email" name="email" require ></input>
    <button>Submit</button>
</form>

<% include partials/footer %>

