<% include partials/header %>

<div class="container sign-up-container">
    
    <div class=" sign-up-title-container">
        <div class="sign-up-title title">Sign Up </div>
    </div>
    
    <div class="registered-user-container">
        <div class="registered-user">
            <span>Already have a YelpLakes account?</span>
            <a id="login-on-login-page" href="/login">Log In</a>
        </div>
    </div>
    
    <div class=" user-form-signup-container">
        <form action="/register" method="post">
        
                <label for="username">Username</label>
                <input type="text" id="username" name="reg_username" placeholder="username" pattern=^[a-z0-9]{6,15}$ title="Username should only contain lowercase letters and at least 6 char." required>
                <span class="tick"></span>
            <br>
                <label for="password">Password</label>
                <input type="password" id="password" name="reg_password" placeholder="password" pattern=^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{6,15}$  title="Password should only contain lowercase letters and at least 6 char."  required>
                <span class="tick"></span>
            <br>
            
            <input class="btn btn-primary" type="submit" value="Sign Up">
            
        </form>
        
        
    <!--    <form action="/login" method="post">-->
    <!--    <div class="input-group">-->
    <!--        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
    <!--        <input type="text" class="form-control" name="username" placeholder="username">-->
                
    <!--    </div>-->
    <!--    <div class="input-group">-->
    <!--        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
    <!--        <input type="password" class="form-control" name="password" placeholder="password">-->
    <!--    </div>-->
        
    <!--        <input class="btn btn-primary" type="submit" value="login">-->
    <!--</form>-->
        
    </div>
     
    

</div>


<!--<div class="container">-->
<!--    <fieldset>-->
<!--        <legend>Sign-Up Form</legend>-->
       
<!--        <form action="/register" method="post">-->

<!--                <label for="username">Username</label>-->
<!--                <input type="text" id="username" name="reg_username" placeholder="username" pattern=^[a-z0-9]{6,15}$ title="Username should only contain lowercase letters and at least 6 char." required>-->
<!--                <span class="tick"></span>-->
<!--            <br>-->
<!--                <label for="password">Password</label>-->
<!--                <input type="password" id="password" name="reg_password" placeholder="password" pattern=^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{6,15}$  title="Password should only contain lowercase letters and at least 6 char."  required>-->
<!--                <span class="tick"></span>-->
<!--            <br>-->
            
            
<!--            <button>Sign Up</button>-->
<!--    </form>-->

<!--    </fieldset>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <h4>Note: -->
<!--    <br>-->
<!--    Username must be 6-16 characters long and contain no special characters and only lowercase letters and/or digits.-->
<!--    <br> Password must be 6-16 characters and contain no special characters and at least one lowercase letter, one uppercase letter, and one digit.-->
    
    
    
<!--    </h4>-->

<!--</div>-->


<!--<script src="password.js"></script>-->
<% include partials/footer %>
