
body{
    margin: 0;
    font-family: arial;
    /*font-family: 'Helvetica', 'Arial', sans-serif;*/
}

form{
    font-size: 25px;
}

.new-user a {

    text-decoration: none;

}

.log-in-container{
    height: 200px;
    width: 450px;

}

.log-in-title {
    font-size: 56px;
    margin-bottom: 17px;
}

#landing-header {
    margin-top: 5%;
    text-align:center;
}

.new-user {
    font-size: 20px;
    margin-bottom: 34px;
}

.sign-up-container{
    height: 200px;
    width: 450px;

}

.sign-up-title {
    font-size: 56px;
    margin-bottom: 17px;
}



.registered-user {
    font-size: 20px;
    margin-bottom: 34px;
}




.input-group .form-control {
    width: 60%;
}


input[name="reg_username"]:valid,
input[name="reg_password"]:valid{
    border: 2px solid green;
}



input[name="username"]:valid + .tick,
input[name="password"]:valid + .tick{
    background: url(tick.png) center;
    background-size : 100%;
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    margin: 10px;
}

/*.invalid {*/
/*    background: url(tick.png) center;*/
/*    background-size : 100%;*/
/*    display: block;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    float: right;*/
/*    margin: 10px;*/
/*}*/

